<div class="container1">
    <div class="container2">
        <img
            src="../../../../../assets/images//Egor-budda.jpeg"
            alt=""
            width="300rem"
        />
    </div>
    <div class="container2">
        <div>
            <p>Egor Kozharinov</p>
            <p>Full-stack web3 developer, Ph.D.</p>
            <p>Solidity, Hadrhat, Brownie, Angular</p>
            <br />
            <br />
            <p>
                e-mail:
                <a href="mailto: eeguar@gmail.com" target="_blank"
                    >eeguar@gmail.com</a
                >
            </p>
            <p>
                Telegram
                <a href="https://telegram.me/khazaaaar" target="_blank"
                    >@khazaaaar</a
                >
            </p>
            <p>
                Tel:
                <a href="+972533210038" target="_blank">+972533210038</a>
            </p>
            <p>
                Linked-in:
                <a
                    href="https://www.linkedin.com/in/egor-kozharinov-6361169b/"
                    target="_blank"
                    >Egor Kozharinov</a
                >
            </p>
        </div>
    </div>
</div>
