<div class="container">
    <mat-card class="bottom-margin card-border">
        <mat-card-title>MINT TOKENS</mat-card-title>
        <vd-mint-token (tokenMinted)="(tokenMinted)"></vd-mint-token>
    </mat-card>
    <mat-card class="card-border">
        <mat-card-title>User assets</mat-card-title>
        <vd-user-assets></vd-user-assets>
    </mat-card>

    <mat-card *ngIf="hasAdminRole" class="card-border">
        <mat-card-title>Admin Panel</mat-card-title>
        <vd-admin-panel></vd-admin-panel>
    </mat-card>
</div>
