.item {
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    min-width: 200px;
}

// .mat-mdc-raised-button.mat-accent {
//     --mdc-protected-button-container-color: #ff7700;
// }
