<div ngClass="'container'">
    <div class="header-wapper">
        <vd-header></vd-header>
    </div>

    <div class="content-wrapper">
        <div style="flex-grow: 1; flex-shrink: 1">
            <vd-dex-layout></vd-dex-layout>
        </div>
        <div style="flex-grow: 1; flex-shrink: 1">
            <vd-user-layout></vd-user-layout>
        </div>
    </div>

    <div class="footer-wapper">
        <vd-footer-layout></vd-footer-layout>
    </div>
</div>

<!-- <div [ngStyle]="{ background: 'url(assets/images/bg1.png)'}"></div> -->
