<div>
    <div class="header-wapper">
        <vd-header></vd-header>
    </div>
    <div class="global-wrapper">
        <div class="content-wrapper">
            <div class="item">
                <vd-dex-layout></vd-dex-layout>
            </div>
            <div class="item">
                <vd-user-layout></vd-user-layout>
            </div>

            <!-- <div style="width: 2rem"></div> -->
        </div>
        <div ngClass="vert-menu-wrapper">
            <vd-vert-menu-layout></vd-vert-menu-layout>
        </div>
    </div>
</div>

<!-- <div [ngStyle]="{ background: 'url(assets/images/bg1.png)'}"></div> -->
