@use "@material/card";

@import "../assets/styles.scss";

@include card.core-styles;
@import "../assets/styles.scss";
.bg-image {
    // background-image: url("/assets/images/apple-bg.png");
    // width: 100%;
    // background-size: cover;
    // height: 100%;
}

.footer-wapper {
    display: flex;
    justify-content: space-around;
    height: $footer-height;
    width: 100%;
    padding: 0;
}

.header-wapper {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0;
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    min-height: calc(100vh - 1.4 * $header-height);

    width: 100%;
    background-size: cover;
}

.vert-menu-wrapper {
    min-width: 0;
    margin-top: 40vh;
    flex: 0 0 auto;
    padding: 0;

    // max-width: 10vh;
}

.global-wrapper {
    background-image: url("/assets/images/apple-bg.svg");
    display: flex;
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media only screen and (max-width: 450px) {
    .global-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .vert-menu-wrapper {
        margin: auto;
    }
    .content-wrapper {
        padding-top: 6px;
        flex-direction: column-reverse;
    }
}
