@use "@material/card";

@import "../assets/styles.scss";

@include card.core-styles;
@import "../assets/styles.scss";
.bg-image {
    // background-image: url("/assets/images/apple-bg.png");
    // width: 100%;
    // background-size: cover;
    // height: 100%;
}

.footer-wapper {
    display: flex;
    justify-content: space-around;
    height: $footer-height;
    width: 100%;
    padding: 0;
}

.header-wapper {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0;
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    height: calc(100vh - 1.4 * $header-height);
    background-image: url("/assets/images/apple-bg.png");
    width: 100%;
    background-size: cover;
}

.vert-menu-wrapper {
    position: fixed;
    top: $header-height;
    right: 1.5vh;
    max-width: 10vh;
}
