<mat-card class="container bottom-margin">
    <button class="item" mat-button (click)="onClickWhitepaper()">
        Whitepaper
    </button>
    <button class="item" mat-button (click)="onClickGithub()">
        <a
            style="text-decoration: none; color: black"
            href="https://github.com/Khazaar?tab=repositories"
            target="_blank"
        >
            Github</a
        >
    </button>
    <button class="item" mat-button (click)="onClickContact()">
        Contact us
    </button>
</mat-card>
