@use "@material/card";

@import "../../../../../assets/styles.scss";

@include card.core-styles;

.item {
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 2.5rem;
}
.container {
    display: flex;
    flex-direction: row;
    padding: 0;
}
