<mat-card style="height: 50px">
    <div class="container">
        <button mat-button (click)="onClickWhitepaper()">Whitepaper</button>
        <button mat-button (click)="onClickGithub()">
            <a
                style="text-decoration: none; color: black"
                href="https://github.com/Khazaar?tab=repositories"
                target="_blank"
            >
                Github</a
            >
        </button>
        <button mat-button (click)="onClickContact()">Contact us</button>
    </div>
</mat-card>
