<div class="container">
    <p>
        Veggie dex is a <b>Uniswap v2 </b>fork decentralized exchange with 3
        listed ERC-20 tokens: Apple (APL), Potato (PTT) and LSR.
    </p>
    <p>
        To stat interraction with DEX at first time user can mint some listed
        tokens in <b>"Mint tokens"</b> section. Balance of listed tokens is
        shown in <b>"User assets"</b> section
    </p>
    <p>
        You can become a liquidity provider by adding liquidity to a
        corresponding pair in <b>"Add liquidity"</b> cection. Swap tokens is
        available in <b>"Swap"</b> section
    </p>
    <p>
        All available liquidity pools with corresponding reserves are shown in
        <b>"Liquidity pools"</b> section
    </p>
</div>
