<div class="container">
    <p>
        Veggie dex is a Web3 app - <b>Uniswap v2 </b>fork decentralized exchange
        with 4 listed ERC-20 tokens: Apple (APL), Potato (PTT), Tomato(TMT) and
        LSR. Supported networks are:
        <b>Goerli, BSC Testnet and Hardhat Local</b>.
    </p>
    <p>
        To start interraction with DEX at first time user can mint some listed
        tokens in <b>"Mint tokens"</b> section. Balance of listed tokens is
        shown in <b>"User assets"</b> section
    </p>
    <p>
        You can become a liquidity provider by adding liquidity to a
        corresponding pair in <b>"Add liquidity"</b> cection. Swap tokens is
        available in <b>"Swap"</b> section
    </p>
    <p>
        All available liquidity pools with corresponding reserves are shown in
        <b>"Liquidity pools"</b> section
    </p>
    <p>
        Smart contracts of this DEX could be found at corresponding<a
            href="https://github.com/Khazaar/pancake-router"
            target="_blank"
        >
            GitHub repository</a
        >
        with Hardhat project. You can use this project to connect this Web3 app
        to <b>Hardhat Local</b> network
    </p>
</div>
