@use "@material/card";
@import "../../../../../assets/styles.scss";

@include card.core-styles;

.image-wrapper {
    width: 25rem;
}

.margin-left {
    margin-left: 1rem;
}

.container-horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: $header-height;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.header-margins-padding {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0.7rem 0 0.7rem;
    border-radius: 0 0 0 0;
}

mat-card {
    min-width: 100vw;
    max-width: 100vw;
    margin-bottom: 0;
}

@media only screen and (max-width: 850px) {
    .image-wrapper {
        width: 20rem;
    }
}

@media only screen and (max-width: 770px) {
    .image-wrapper {
        width: 15rem;
    }
}

@media only screen and (max-width: 688px) {
    .image-wrapper {
        width: 12rem;
    }
    .container-horiz {
        display: flex;
        flex-direction: column;
    }
}
