@use "@material/card";

@include card.core-styles;

// .connect {
//     display: flex;
//     justify-content: flex-end;
// }

.item {
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    //align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    // align-items: center;
}
