@use "@material/card";
@import "../../../../../assets/styles.scss";

@include card.core-styles;

// .connect {
//     display: flex;
//     justify-content: flex-end;
// }

.item-horiz {
}

.margin-left {
    margin-left: 2rem;
}

.container-horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.bg-image {
    background-image: url("/assets/images/bg2.png");
    width: 100%;
    background-size: cover;
}
