<div class="container">
    <mat-card class="card-border bottom-margin">
        <mat-card-title>Add liquidity</mat-card-title>
        <vd-add-liquidity></vd-add-liquidity>
    </mat-card>
    <mat-card class="card-border bottom-margin">
        <mat-card-title>Swap</mat-card-title>
        <vd-swap></vd-swap>
    </mat-card>
    <mat-card class="card-border bottom-margin">
        <mat-card-title>Liquidity pools</mat-card-title>
        <vd-liquidity-pools></vd-liquidity-pools>
    </mat-card>
</div>
