<div class="container">
    <h3>Mint tokens</h3>

    <button (click)="fetchMint()">Fecth mint</button>

    <mat-form-field appearance="fill">
        <mat-label>Select token</mat-label>
        <mat-select>
            <mat-option *ngFor="let token of tokenContracts" [value]="token">
                {{ token.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <form class="example-form">
        <mat-form-field appearance="fill">
            <mat-label>Token amount</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Token amount" />
        </mat-form-field>
    </form>
    <button class="item" mat-raised-button color="accent" (click)="clickMint()">
        Mint
    </button>
</div>
