<div class="container-main">
    <div ngClass="container-fields">
        <mat-form-field appearance="fill" ngClass="item-field">
            <mat-label>SELECT TOKEN</mat-label>
            <mat-select
                [(ngModel)]="selectedToken"
                (valueChange)="onSelectedTokenChange($event)"
            >
                <mat-option
                    *ngFor="let token of tokenContracts"
                    [value]="token"
                >
                    {{ token.nameLong }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <form class="example-form">
            <mat-form-field appearance="fill" ngClass="item-field">
                <mat-label>AMOUNT</mat-label>
                <input
                    matInput
                    [(ngModel)]="selectedAmount"
                    placeholder="1000"
                    value=""
                    (keyup)="onSelectedAmountChange()"
                    [formControl]="numberFormControl"
                />
                <mat-error *ngIf="numberFormControl.hasError('min')">
                    The value is lower than the minimum
                </mat-error>
                <mat-error *ngIf="numberFormControl.hasError('max')">
                    The value is greater than the maximum
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <button class="item" mat-raised-button color="accent" (click)="clickMint()">
        Mint <mat-icon>all_inclusive</mat-icon>
    </button>
</div>
