$footer-height: 3rem;
$header-height: 80px;
$border-color: rgb(255, 166, 0);

.bottom-margin {
    // margin-bottom: 0rem;
}

.top-margin {
    margin-top: 0.5rem;
}

.bg-color {
}

.make-gold {
    background-color: gold;
    border: 2px solid $border-color;

    border-radius: 1.5rem;
    overflow: hidden !important;
}
