$footer-height: 3rem;
$header-height: 4rem;
$card-width-max: 22rem;
$input-field-width-min: 10rem;
$main-green-color: #1aba00;
$logo-width: 25rem;

.top-margin {
    margin-top: 0.5rem;
}

.table-style {
    border-radius: 1.5rem;
    overflow: hidden !important;
}

.card-border {
    border-width: 3px;
    border-color: #1aba00;
    border-style: solid;
}

.container-fields {
    display: flex;
    flex-direction: row;
    //width: 300px;
}

.item-field {
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.mat-form-field-dropdown {
    width: 100%;
    margin-bottom: -1.25em;
}
