@use "@material/card";
@import "../../../../../assets/styles.scss";
@include card.core-styles;

.item {
    align-content: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
    //height: $footer-height;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: fit-content;
    //border-bottom: 2px solid $border-color;
}

.material-icons {
    font-size: 3rem;
    color: white;
}

@media only screen and (max-width: 450px) {
    .material-icons {
        font-size: 2rem;
        color: white;
    }
    .container {
        flex-direction: row;
        align-items: center;
    }
    .item {
        margin-top: 0.2rem;
        //height: $footer-height;
    }
}

@media only screen and (max-width: 410px) {
}
