@use "@material/card";

@import "../../../../../assets/styles.scss";

@include card.core-styles;

.item {
    align-content: center;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
    //height: $footer-height;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: fit-content;
    //border-bottom: 2px solid $border-color;
}

.material-icons {
    font-size: 3rem;
    color: white;
}
