<div ngClass="container">
    <button class="item" mat-button (click)="onClickWhitepaper()">
        <i class="material-icons">info_outline</i>
    </button>
    <div class="vert-borders">
        <button class="item" mat-button>
            <a
                style="text-decoration: none; color: black"
                href="https://github.com/Khazaar?tab=repositories"
                target="_blank"
            >
                <i class="material-icons">code</i></a
            >
        </button>
    </div>
    <button class="item" mat-button (click)="onClickContact()">
        <i class="material-icons">contact_mail</i>
    </button>
</div>
