@use "@angular/material" as mat;
@use "@material/shape";

@include mat.core();
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@coreui/coreui-pro/scss/coreui";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-app-primary,
            accent: $my-app-accent,
            warn: $my-app-warn,
        ),
    )
);
@include mat.button-theme($my-app-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: large;
    background-color: rgba(123, 255, 47, 0.357);
    padding: 5px;
}
mat-card {
    margin: 7px;
    padding: 7px;
    padding-bottom: 12px;
}

mat-option {
    background-color: white;
}

mat-card-title {
    text-align: center;
    padding-bottom: 0.5rem;
}

.mat-mdc-card {
    --mdc-shape-medium: 15px;
}

.mat-mdc-raised-button {
    --mdc-shape-small: 20px;
}

mat-form-field {
    width: fit-content;
}
.mat-form-field {
    width: fit-content;
}

.mdc-button {
    --mdc-typography-button-font-size: 1.1rem;
    width: fit-content;
}

// button {
//     width: fit-content;
// }

// .mat-mdc-text-field-wrapper {
//     width: fit-content !important;
// }

.mat-mdc-form-field-infix {
    width: fit-content !important;
}

// .mat-mdc-form-field-flex {
//     width: fit-content !important;
// }

// .mat-mdc-select {
//     width: fit-content !important;
// }

// .mat-mdc-select {
//     width: fit-content !important;
// }

// .mat-mdc-form-field {
//     width: 120px;
// }

// .mdc-text-field__input {
//     width: 100px !important;
// }

// .mat-table {
//     border-radius: 8px !important;
//     overflow: hidden !important;
//     background-color: transparent !important;
// }

// table {
//     width: 100%;
//     border-collapse: collapse;
//     border-radius: 5em;
// }

.mdc-data-table {
    border-radius: 10px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    --mdc-shape-medium: 14px;
}
