@use "@angular/material" as mat;
@use "@material/shape";

@include mat.core();
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@coreui/coreui-pro/scss/coreui";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-app-primary,
            accent: $my-app-accent,
            warn: $my-app-warn,
        ),
    )
);
@include mat.button-theme($my-app-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: large;
    background-color: rgba(123, 255, 47, 0.357);
    padding: 5px;
}
mat-card {
    margin: 7px;
    padding: 7px;
}

mat-option {
    background-color: white;
}

mat-card-title {
    text-align: center;
    padding-bottom: 0.5rem;
}
@mixin radius($radius: 20px, $rtl-reflexive: 20px) {
}

.mdc-card {
    border-radius: 15px;
}

$medium-component-radius: 20px !default;
$--mdc-shape-medium: 20px !default;

.mat-mdc-card {
    --mdc-shape-medium: 20px;
}

.mat-mdc-raised-button {
    --mdc-shape-small: 20px;
}

.mat-mdc-table {
    border-radius: 8px;
}

mat-form-field {
    width: 150px;
}

.mdc-button {
    --mdc-typography-button-font-size: 1.1rem;
}
